.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-main {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sights {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-t {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tours {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-weather {
  width: 1em;
  height: 1em;
  fill: initial;
}
